{
  "extends": "airbnb-base",
  "env": {
    "jest": true
  },
  "rules": {
    "no-console": "off",
    "no-plusplus": "off",
    "guard-for-in": "off",
    "global-require": "off",
    "template-curly-spacing": [
      "error",
      "always"
    ],
    "no-unused-vars": "off",
    "no-await-in-loop": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "no-restricted-syntax": "off",
    "class-methods-use-this": "off",
    "import/no-dynamic-require": "off",
    "import/no-extraneous-dependencies": "off"
  }
}
